.twitch-box {
  margin: 40px auto;
  padding: 20px;
  max-width: 1200px;
  background: var(--bg-light-transparent);
  border-radius: 16px;
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 25px var(--shadow);
}


.twitch-wrapper {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 12px;
}
.twitch-player {
  flex: 3;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.twitch-chat {
  flex: 1;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .twitch-wrapper {
    flex-direction: column;
    height: auto;
  }

  .twitch-player,
  .twitch-chat {
    width: 100%;
    height: 400px;
  }

  .twitch-chat {
    display: none;
  }
}